* {
  font-family: lato;
  /* color: white; */
}

body {
  max-width: 800px;
  margin: auto;
  margin-bottom: 100px;
  /* background-color: black; */
}

h1 {
  margin: 60px auto;
  text-align: center;
}

#map {
  width: 800px;
  margin: auto;
}

li {
  color: black;
}
