* {
  font-family: lato;
  /* color: white; */
}

body {
  max-width: 800px;
  margin: auto;
  margin-bottom: 100px;
  /* background-color: black; */
}

h1 {
  margin: 60px auto;
  text-align: center;
}

h1 span {
  letter-spacing: 10px;
  font-style: italic;
  font-size: 0.8em;
}

#map {
  width: 800px;
  margin: auto;
}

li {
  color: black;
  margin-bottom: 5px;
}

p {
  margin: 1ch 0;
}
